{% extends "layout.html" %}
{% block content %}

{% if session.user_role == 1 %}

{% for t in topic %}
<h2>{{ t[1] }}</h2>
<p>
You are logged in as <b>{{ session.user_name }}</b>.
<p>
<a href="/">Return to main page</a>
<p>
<a href="/adminpage">Return to adminpage</a>
<p>

<form action="/new_adminmessage/{{ t[0] }}">
    <button class="adminmessagebutton" >Add new message</button>
</form>
{% endfor %}

<hr>
{% for message in adminmessages %}
<p>
<i>Message:</i> <b>{{ message[1] }}</b>
<p>
<i>Creator:</i> {{ message[2] }}
<p>
<i>Time:</i> {{ message[3].strftime("%Y-%m-%d %H:%M:%S") }}
<p>
<input type="hidden" name="adminmessage_id" value="{{ message[0] }}">
<a href="/edit_adminmessage/{{ message[0] }}">Edit message</a>
<a href="/delete_adminmessage/{{ message[0] }}">Delete message</a>


<hr>
{% endfor %}
{% endif %}

{% endblock %}