{% extends "layout.html" %}
{% block content %}

{% if session.user_role == 1 %}

{% for t in topic %}
<div class="pageheader">
<h2>{{ t[1] }}</h2>
</div>
<p>
<div class="session">
You are logged in as <b>{{ session.user_name }}</b>.
<p>
<a class="hyperlink" href="/">Return to main page</a>
<p>
<a class="hyperlink" href="/adminpage">Return to adminpage</a>
<p>


<form class="button" action="/new_adminmessage/{{ t[0] }}">
    <button class="adminmessagebutton" >Add new message</button>
</form>
</div>
{% endfor %}

{% for message in adminmessages %}
<div class="box">
<i>Message:</i> <b>{{ message[1] }}</b>
<p>
<i>Creator:</i> {{ message[2] }}
<p>
<i>Time:</i> {{ message[3].strftime("%Y-%m-%d %H:%M:%S") }}
<p>
<input type="hidden" name="adminmessage_id" value="{{ message[0] }}">
<a class="hyperlink" href="/edit_adminmessage/{{ message[0] }}">Edit message</a>
<a class="hyperlink" href="/delete_adminmessage/{{ message[0] }}">Delete message</a>
</div>

{% endfor %}
{% endif %}

{% endblock %}