{% extends "layout.html" %}
{% block content %}

{% for msg in message %}

<input type="hidden" name="message_id" value="{{ msg[0] }}">
{% if session.user_id == msg[2] or session.user_role == 1 %}
<div class="pageheader">
<h2>Delete message</h2>
</div>
<p>Are you sure you want to delete the following message:
<p>
<b>{{ msg[1] }}</b>
</p>
<form action="/deletemessage/{{ msg[0] }}" method="post">

<p>
<input type="submit" value="Yes">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
{% endif %}
{% endfor %}
</form>
<p>
<a class="hyperlink" href="/">Return to main page</a>
<p>
{% for f in forum %}
<a class="hyperlink" href="/forum/{{ f[0] }}">Return to <b>{{ f[1] }}</b> forum</a>
{% endfor %}
<p>
{% for t in thread %}
<a class="hyperlink" href="/thread/{{ t[0] }}">Return to <b>{{ t[1] }}</b> thread</a>
{% endfor %}



{% endblock %}