{% extends "layout.html" %}
{% block content %}
{% if session.user_role == 1 %}
{% for msg in message %}

<input type="hidden" name="adminmessage_id" value="{{ msg[0] }}">
<div class="pageheader">
<h2>Delete message</h2>
</div>
<p>Are you sure you want to delete the following message:
<p>
<b>{{ msg[1] }}</b>
</p>
<form action="/deleteadminmessage/{{ msg[0] }}" method="post">

<p>
<input type="submit" value="Yes">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
{% endfor %}
</form>
<p>
<a class="hyperlink" href="/adminpage">Return to adminpage</a>
<p>
{% for t in topic %}
<a class="hyperlink" href="/topic/{{ t[0] }}">Return to <b>{{ t[1] }}</b> topic</a>
{% endfor %}
{% endif %}
<p>
<a class="hyperlink" href="/">Return to main page</a>

{% endblock %}