{% extends "layout.html" %}
{% block content %}

{% for topic in topics %}

<input type="hidden" name="topic_id" value="{{ topic[0] }}">
{% if session.user_role == 1 %}
<div class="pageheader">
<h2>Delete topic</h2>
</div>
<p>Are you sure you want to delete the <b>{{ topic[1] }}</b> topic?</p>
<form action="/deletetopic/{{ topic[0] }}" method="post">

<p>
<input type="submit" value="Yes">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<p>
<a class="hyperlink" href="/adminpage">Return to adminpage</a>
{% endif %}
{% endfor %}
</form>
<p>
<a class="hyperlink" href="/">Return to main page</a>


{% endblock %}