{% extends "layout.html" %}
{% block content %}

{% for thread in threads %}

<input type="hidden" name="thread_id" value="{{ thread[0] }}">

<h2>Edit thread</h2>
<form action="/editthread/{{ thread[0] }}" method="post">
Thread name: <br><input type="text" name="threadname_edit" value="{{ thread[1] }}">
{% endfor %}
<p>
<input type="submit" value="Post">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<p>



<a href="/">Return to main page</a>
<p>
{% for f in forum %}
<a href="/forum/{{ f[0] }}">Return to <b>{{ f[1] }}</b> forum</a>
{% endfor %}


{% endblock %}