{% extends "layout.html" %}
{% block content %}

{% for msg in message %}

<input type="hidden" name="message_id" value="{{ msg[0] }}">

<h2>Edit thread</h2>
<form action="/editmessage/{{ msg[0] }}" method="post">
Thread name: <br><input type="text" name="messagename_edit" value="{{ msg[1] }}">
{% endfor %}
<p>
<input type="submit" value="Post">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<p>

<a href="/">Return to main page</a>
<p>
{% for f in forum %}
<a href="/forum/{{ f[0] }}">Return to <b>{{ f[1] }}</b> forum</a>
{% endfor %}
<p>
{% for t in thread %}
<a href="/thread/{{ t[0] }}">Return to <b>{{ t[1] }}</b> thread</a>
{% endfor %}


{% endblock %}