{% extends "layout.html" %}
{% block content %}

<h2>Main page</h2>

{% if session.user_id %}
You are logged in as <b>{{ session.user_name }}</b>. <a href="/logout">Log out</a>

<form action="/new_forum">
    <button class="forumbutton" >Add new forum</button>
</form>

<hr>
{% for forum in forums %}
<a href="/forum/{{ forum[0] }}">To <b>{{ forum[1] }}</b> forum</a>
<p>
<i>Forum:</i> {{ forum[1] }}
<p>
<i>Creator:</i> {{ forum[2] }}
<p>
<input type="hidden" name="forum_id" value="{{ forum[0] }}">
<i>Threads:</i> {{ count[forum[0]] }}
<p>

{% if session.user_name == forum[2] %}
<a href="/edit_forum/{{ forum[0] }}">Edit forum</a>
<a href="/delete_forum/{{ forum[0] }}">Delete forum</a>

{% endif %}
<hr>
{% endfor %}

{% else %}
You are not logged in. <a href="/login">Log in</a>
{% endif %}

{% endblock %}