{% extends "layout.html" %}
{% block content %}
<div class="pageheader">
<h2>Send new message</h2>
</div>
{% for t in thread %}
<form action="/send_message/{{ t[0] }}" method="post">
Message: <br><input type="text" name="messagename">
<p>
<input type="submit" value="Post">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endfor %}

<p>
<a class="hyperlink" href="/">Return to main page</a>
<p>
{% for f in forum %}
<a class="hyperlink" href="/forum/{{ f[0] }}">Return to <b>{{ f[1] }}</b> forum</a>
{% endfor %}
<p>
{% for t in thread %}
<a class="hyperlink" href="/thread/{{ t[0] }}">Return to <b>{{ t[1] }}</b> thread</a>
{% endfor %}

<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">


{% endblock %}