{% extends "layout.html" %}
{% block content %}

{% for f in forum %}
<div class="pageheader">
<h2>{{ f[1] }}</h2>
</div>
<p>
<div class="session">
You are logged in as <b>{{ session.user_name }}</b>.
<p>
<a class="hyperlink" href="/">Return to main page</a>



<form class="button" action="/new_thread/{{ f[0] }}">
    <button class="threadbutton" >Add new thread</button>
</form>
{% endfor %}

</div>
<hr>
{% for thread in threads %}
<div class="box">
<a class="hyperlink" href="/thread/{{ thread[0] }}">To <b>{{ thread[1] }}</b> thread</a>
<p>
<i>Thread:</i> {{ thread[1] }}
<p>
<i>Creator:</i> {{ thread[2] }}
<p>
<i>Messages:</i> {{ count[thread[0]] }}
<p>
<i>Last message:</i> <b>{{ latest_messages[thread[0]] }}</b>
<p>
<input type="hidden" name="thread_id" value="{{ thread[0] }}">
{% if session.user_name == thread[2] or session.user_role == 1 %}
<a class="hyperlink" href="/edit_thread/{{ thread[0] }}">Edit thread</a>
<a class="hyperlink" href="/delete_thread/{{ thread[0] }}">Delete thread</a>

{% endif %}
</div>
{% endfor %}



{% endblock %}